/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html {
  box-sizing: border-box;
}
*,
::after,
::before {
  box-sizing: inherit;
}

/*
BARVY:
šedá na pozadí stránky:		 #b2bec3
červená na hlavní nadpis:    #d63031

tlačítko Twitter:			 #1da1f2
tlačítko Twitter aktivní:	 #0b7bc1

tlačítko Facebook:			 #3b5998
tlačítko Facebook aktivní:   #2b406e
*/

* {
  box-sizing: border-box;
}

body {
  background-color: #b2bec3;
  margin: 0;
  margin-top: 150px;
}

h1 {
  font-size: 36px;
  color: #d63031;
  font-family: "Nunito", sans-serif;
  margin: 0;
  margin-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-end: 0;
  padding: 0;
}

p {
  font-size: 18px;
  font-family: "Nunito", sans-serif;
  margin: 30px 0;
}

.box {
  background-color: white;
  width: 550px;
  padding: 30px;
  margin: auto;
  border-radius: 10px;
  position: relative;
  box-shadow: 5px 5px 5px rgba(104, 103, 103, 0.473);
}

img {
  border-radius: 50%;
  border: 3px solid white;
  width: 150px;
  position: absolute;
  margin: auto;
  right: -75px;
  top: -75px;
  box-shadow: 5px 5px 5px rgba(104, 103, 103, 0.473);
}

a {
  padding: 10px;
  width: 100%;
  background-color: #3b5998;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  margin-top: 5px;
  font-size: 18px;
  font-weight: bold;
  font-family: "Nunito", sans-serif;
  text-align: center;
  text-transform: uppercase;
}

.svetla {
  background-color: #1da1f2;
  margin-top: 0px;
}

a:hover.svetla {
    background-color: #0b7bc1;
}

a:hover.FB {
    background-color: #2b406e;
}